<h1>Edit Article</h1>

<%# passing the model: @article allows the form_with helper to infer the correct URL to submit this form to (PATCH /articles/:id) and also allows the form fields to be populated with any relevant data from the model retrieved from the db. In forms where we are creating a new article object, we just used 'scope: article', which will make sure the 'name' fields on the form inputs are filled in correctly but won't populate the form fields with any data, since there is no article object to work from.  %>
<%= form_with(model: @article) do |form| %>

  <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'All Articles', articles_path %>